/* Entrega numero 2 - Julian Giansanti */

:root {
  /* Fonts */
  --font-title: "Metal Mania", system-ui;
  --font-paragraph: "Karla", sans-serif;
  --font-subtitle: "Oswald", sans-serif;

  /* Colors */
  --grey: #e0e0e0;
  --fire: #ff4500;
  --darkblue: #0d1b2a;
  --purple: #1c002f;
  --lightpurple: #3a1554;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: var(--font-title);
  color: var(--grey);
}

.subtitle {
  font-family: var(--font-subtitle);
  color: var(--grey);
}

.paragraph {
  font-family: var(--font-paragraph);
  color: var(--grey);
}

.link {
  font-family: var(--font-paragraph);
  color: var(--grey);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* --- NavBar --- */

.navbar .navbar-brand {
  font-family: var(--font-title);
  color: var(--grey);
}

.navbar .navbar-brand:hover {
  color: var(--fire);
  transition: 0.8s;
}

.navbar {
  background-color: var(--darkblue);
}

.navbar .nav-link {
  font-family: var(--font-paragraph);
  color: var(--grey);
}

.navbar .nav-link:hover {
  color: var(--fire);
  transition: 0.8s;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  width: 24px;
}

/* --- Info --- */

.hero {
  position: relative;
  height: calc(100vh - 56px);
  overflow: hidden;
}

.hero_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero_video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero_opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(40, 0, 55, 0.8);
}

#info {
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#info .title {
  font-size: 2.5em;
}

#info .subtitle {
  font-weight: 300;
  font-size: 1.3em;
  letter-spacing: 4px;
}

#info .paragraph {
  width: 80%;
}

/* --- Our Festival --- */

#our_festival {
  background-color: var(--darkblue);
  min-height: calc(100vh - 56px);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our_festival-carousel {
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.carousel-item {
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#our_festival .paragraph {
  width: 100%;
  text-align: center;
}

.our_festival-image {
  height: 220px;
  width: 100%;
}

.our_festival-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.our_festival-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 40px auto;
  width: 90%;
}

.our_festival-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
}

/* --- Lineup --- */

#lineup {
  background-color: var(--purple);
  min-height: calc(100vh - 56px);
  padding: 2em 0;
}

#lineup .title {
  margin-top: 20px;
  font-size: 2em;
  padding: 20px;
}

.band {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2rem;
  text-align: center;
}

.day-container {
  width: 100%;
}

.band-logo img {
  max-width: 200px;
  filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.4));
  transition: transform 0.3s ease;
  width: 100%;
  margin: 2rem 0;
}

.band-logo:hover {
  transform: scale(1.1);
}

#lineup .lineup-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lineup .subtitle {
  font-size: 1.3em;
  width: 50%;
  text-align: center;
}

/* --- Tickets --- */

#tickets {
  background-color: var(--darkblue);
  min-height: calc(100vh - 56px);
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tickets .title {
  font-size: 2.5em;
  text-align: center;
}

#tickets .paragraph {
  width: 80%;
  text-align: center;
}

#tickets .subtitle {
  text-align: center;
  width: 80%;
}

.cards {
  min-width: 200px;
}

.card-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin: 20px 0;
}

/* --- Contact --- */

#contact {
  background-color: var(--purple);
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

#contact .title {
  font-size: 2.5em;
  width: 90%;
  text-align: center;
}

#contact .paragraph {
  width: 80%;
  text-align: center;
}

#contact .subtitle {
  font-size: 1.3em;
  width: 90%;
  text-align: center;
}

.contact_form {
  background-color: var(--darkblue);
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px 40px;
  gap: 12px;
}

.contact_form label {
  color: var(--grey);
  font-family: var(--font-subtitle);
}

.contact_form input {
  background-color: var(--grey);
  padding: 12px;
  border: none;
  border-bottom: 2px solid var(--fire);
}

.contact_form input:focus {
  outline: none;
}

.contact_form textarea {
  background-color: var(--grey);
  padding: 12px;
  border: none;
  border-bottom: 2px solid var(--fire);
  resize: vertical;
  min-height: 200px;
  max-height: 600px;
}

.contact_form textarea:focus {
  outline: none;
}

.contact_form .contact_form-button {
  margin-top: 20px;
  padding: 12px;
  background-color: var(--purple);
  border: none;
  color: var(--grey);
  font-family: var(--font-subtitle);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.contact_form .contact_form-button:hover {
  background-color: var(--lightpurple);
}

/* --- Footer --- */

#footer {
  background-color: var(--purple);
  width: 100%;
  height: 80px;
  padding: 30px;
  text-align: center;
}

#footer .paragraph {
  font-size: 1.3em;
}

/* --- Responsive Web Design 576px --- */

@media (min-width: 576px) {
  /* --- Info --- */

  #info {
    gap: 2em;
  }

  /* --- Letters --- */

  #info .subtitle,
  #our_festival .subtitle,
  #tickets .subtitle,
  #contact .subtitle {
    font-size: 1.5em;
  }

  #info .paragraph,
  #our_festival .paragraph,
  #tickets .paragraph,
  #contact .paragraph {
    font-size: 1.2em;
  }

  .link {
    font-size: 1.2em;
  }

  /* --- Logos and buttons --- */

  .band-logo {
    transform: scale(1.2);
  }
  .band-logo:hover {
    transform: scale(1.3);
  }

  .card-day button {
    transform: scale(1.2);
  }
}

/* --- Responsive Web Design 768px --- */

@media (min-width: 768px) {
  /* --- Lineup --- */
  .band {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
  }

  .day-container {
    width: 100%;
    max-width: 400px;
  }

  /* --- Our Festival --- */

  .carousel-item {
    height: 400px;
  }

  .our_festival-image {
    height: 400px;
  }
}

/* --- Responsive Web Design 992px --- */

@media (min-width: 992px) {
  /* --- Our Festival --- */

  .our_festival-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  #our_festival .paragraph {
    width: 100%;
  }

  /* --- Tickets --- */

  #tickets {
    justify-content: space-around;
    gap: 1em;
  }

  #tickets .paragraph {
    width: 40%;
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin-top: 30px;
  }

  .card-day {
    width: 80%;
  }

  /* --- Contact --- */

  #contact .paragraph {
    width: 50%;
  }

  #contact .subtitle {
    width: 50%;
  }

  .contact_form {
    width: 60%;
  }

  .contact_form label {
    font-size: 1.5em;
  }

  .contact_form input {
    font-size: 1.3em;
  }

  .contact_form textarea {
    font-size: 1.3em;
  }

  .contact_form .contact_form-button {
    margin: 20px auto;
    width: 60%;
  }
}

/* --- Responsive Web Design 1200px --- */

@media (min-width: 1200px) {
  /* --- Info --- */

  #info .paragraph {
    width: 40%;
  }

  /* --- Our Festival --- */

  .our_festival-container {
    align-items: center;
  }

  .carousel-item {
    height: 600px;
  }

  .our_festival-image {
    height: 600px;
  }

  /* --- Contact --- */
  #contact .paragraph {
    width: 30%;
  }

  #contact .subtitle {
    width: 50%;
  }

  .contact_form {
    max-width: 700px;
  }
}
