/* Entrega numero 2 - Julian Giansanti */

:root {
  /* Fonts */
  --font-tittle: "Metal Mania", system-ui;
  --font-paragraph: "Karla", sans-serif;
  --font-subtittle: "Oswald", sans-serif;

  /* Colors */
  --grey: #d1d1d1;
  --fire: #ff4500;
  --darkblue: #0d1b2a;
  --purple: #1c002f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tittle {
  font-family: var(--font-tittle);
  color: var(--grey);
}

.subtittle {
  font-family: var(--font-subtittle);
  color: var(--grey);
}

.paragraph {
  font-family: var(--font-paragraph);
  color: var(--grey);
}

.link {
  font-family: var(--font-paragraph);
  color: #d1d1d1;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* --- NavBar --- */

.navbar .navbar-brand {
  font-family: var(--font-tittle);
  color: var(--grey);
}

.navbar .navbar-brand:hover {
  color: var(--fire);
  transition: 0.8s;
}

.navbar {
  background-color: var(--darkblue);
}

.navbar .nav-link {
  font-family: var(--font-paragraph);
  color: var(--grey);
}

.navbar .nav-link:hover {
  color: var(--fire);
  transition: 0.8s;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  width: 24px;
}

/* --- About Us --- */

.hero {
  position: relative;
  height: calc(100vh - 56px);
  overflow: hidden;
}

.hero_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero_video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero_opacity {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(40, 0, 55, 0.8);
}

#info {
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#info .tittle {
  font-size: 36px;
}

#info .subtittle {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 4px;
}

#info .paragraph {
  width: 80%;
  font-size: 16px;
}

/* --- Our Festival --- */

#our_festival {
  background-color: var(--darkblue);
  min-height: calc(150vh - 56px);
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.our_festival-carrousel {
  margin: 0 auto;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.carousel-item {
  height: 220px;
}

#our_festival .paragraph {
  width: 80%;
  text-align: center;
}

#our_festival .tittle {
  padding-top: 20px;
}

.our_festival-image {
  width: 90%;
  height: 220px;
}

.our_festival-image img {
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

/* --- Lineup --- */

#lineup {
  background-color: var(--purple);
  min-height: calc(100vh - 56px);
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 40px;
}

#lineup .tittle {
  padding-top: 40px;
  font-size: 32px;
}

.band-logo {
  width: 200px;
  filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.4));
  transition: transform 0.4s ease;
}

.band-logo:hover {
  transform: scale(1.1);
}

.band-logo img {
  width: 100%;
}

/* --- Tickets --- */

#tickets {
  background-color: var(--darkblue);
  min-height: calc(100vh - 56px);
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tickets .tittle {
  font-size: 32px;
  text-align: center;
}

#tickets .paragraph {
  width: 80%;
  text-align: center;
}

#tickets .subtittle {
  text-align: center;
  width: 80%;
}

.card-day {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin: 20px 0;
}

/* --- Footer --- */

#footer {
  background-color: var(--purple);
  width: 100%;
  height: 60px;
  padding: 20px;
  text-align: center;
}
